
#galery {
  width: 100%;
  max-width: var(--max-width);
  overflow: hidden;
  padding: 110px;
  padding-bottom: 50px;
  background-color: #ffffff;
}
.fa-solid {
  color: white;
  font-size:28px
}
#galery .main__action {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1; /* Asegura que el botón esté sobre otros elementos */
  animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
}
/* ... Otros estilos ... */

/* Animate scroll icon */
@keyframes scroll-down {
  0%,
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

#galery h1 {
  width: 105%;
}

#galery .heading {
  width: 100%;
  text-align: flex-start;
}

#galery .heading h1 {
  font-size: 120px;
  font-weight: 900;
  color: rgb(17, 13, 13);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.span {
  font-size: 14px;
}
.h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.asd {
  font-size: 25px;
  font-weight: 900;
  color: rgb(255, 252, 252);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#galery .horizontal-line-2 {
  margin-top: 10px;
  height: 2px;
  width: 22%;
  background-color: #019b21;
  margin-left: 20px;
  margin-bottom: 20px;
}

#galery .grid {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Cambia a flex-wrap para envolver las tarjetas */
  justify-content: flex-start;
  gap: 5px; /* Espacio entre las tarjetas */
  margin-left: 20px;
}

.card {
  margin-bottom: 2px;
  margin-right: 2px;
  width: 280px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  align-items: flex-start;
  text-align: left;
  border-radius: 8px;
  border: 1px solid #ddd; /* Borde más ligero */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.card:hover {
  transform: scale(1.01); /* Efecto de escala al pasar el cursor */
}

.card h3 {
  margin-bottom: 10px; /* Espaciado inferior para el título */
}

.card div {
  margin-bottom: 5px; /* Espaciado inferior para las secciones */
}

.card span {
  line-height: 1.5; /* Altura de línea mejorada para una mejor legibilidad */
}

.card button {
  background-color: #367f11; /* Color de fondo para el botón */
  color: #fff; /* Color del texto del botón */
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card button:hover {
  background-color: #295d0b; /* Cambia el color de fondo al pasar el cursor */
}


.card h3 {
  margin-top: 10px;
}
.card span {
  font-size: 12px;
  margin-bottom: 0px;
}

/* Estilo para la sección de información del estudio */
/* Estilo para la sección de información del estudio */
.studio-info {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente línea */
}

.studio-description {
  flex: 6; /* Hace que este div ocupe el espacio disponible en la línea actual */
  margin-right: -300px; /* Elimina el margen derecho */
  width: 200%; /* Ancho completo en pantallas pequeñas */
}

.studio-image {
  margin-right: -30px;
  margin-top: 32px;
  height: 270px;
}




/* Ajusta el estilo según tus necesidades */

.press-article {
  flex-basis: calc(33.33% - 20px); /* Ancho de cada artículo de prensa (1/3) */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px; /* Espacio inferior entre artículos de prensa */
  text-align: left;
  width: 95%;
  margin-bottom: 50px;
  
}
.press-article:hover {
  background: #cfcaca;
}
#galery .press-grid {
  display: grid;
  grid-template-columns: repeat(3,2fr); /* 2 columnas iguales */
  grid-gap: 2px; /* Espacio entre cada artículo */
  margin-top: 0px; /* Espacio superior para la sección de prensa */
  margin-left: 10px;
}



.press-article p {
  font-size: 14px;
  margin-bottom: 10px;
}

.press-article img {
  max-width: 350px; 
  height: 200px;/* Ajusta el ancho máximo de la imagen según tus preferencias */
  margin-right: 0px; /* Agrega un margen derecho entre la imagen y el contenido */
}

.press-link {
  color: #019b21;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
.article-header {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

.article-content {
  flex: 1; /* El contenido se expandirá para ocupar el espacio restante */
  margin-right: 20px; /* Espacio entre el contenido y el enlace "Leer más" */
  margin-top: 10px;
}

.date {
  margin-right: 10px;
  display: flex;
  flex-direction: column; /* Coloca los elementos en columna */
  align-items: flex-start; /* Centra los elementos horizontalmente */
}

.date-number {
  font-size: 54px; /* Tamaño del número de fecha */
  margin-bottom: -20px;
}

.date-number2 {
  margin-top: 5px;
  margin-left: 0px;
  font-size: 24px; /* Tamaño del mes */
}
.date-number3 {

  margin-left: 0px;
  font-size: 14px; /* Tamaño del mes */
}

.press-article h2 {
  font-size: 18px; /* Tamaño del título */
  margin-bottom: 5px; /* Espacio entre el título y la descripción */
}

.press-article p {
  font-size: 14px; /* Tamaño de la descripción */
  margin-bottom: 10px; /* Espacio entre la descripción y el enlace */
}

#galery .grid1 {
  width: 100%;
  display: grid;
  grid-gap: 20px; /* Espacio entre cada fila */
}

#galery .cont1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  grid-gap: 0px; /* Espacio entre las columnas */
}

#galery .item {
  padding: 5px;
  margin-right: 20px;
  margin-top: 20px;
}

#galery .item h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#galery .item p {
  font-size: 14px;
}

#galery .item3 {

  padding: 5px;
  margin-right: 20px;
  margin-top: 19px;
}

#galery .item3 h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#galery .item3 p {
  font-size: 14px;
}

#galery .link-destacado {
  color: #fcf9f9;
  text-decoration: none;
  font-weight: bold;
}
.img2{
  margin-left: 170px;
  width: 150px;
  height: 120px;
}
.studio-description {
  padding-right: 380px;
  position: relative;
  font-size: 18px;
  width: 1200px;
  margin-top: -5px;
}

.studio-description h4 {
  line-height: 1.1; /* Ajusta este valor según sea necesario para tu diseño */
  margin: 0; /* Elimina el margen predeterminado del h3 */
  margin-top: 10px;
}

.studio-info {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px; /* Espacio entre la descripción del estudio y las imágenes */
}


@media (max-width: 768px) {
  .fa-solid {
    color: white;
    font-size:18px;
    padding-left:3px;
    margin-right:-7px
  }


  #galery {
    padding: 40px;
    padding-bottom: 100px;
    padding-top: 85px;
  }
  .img2{
    margin-left: 130px;
    width: 150px;
    height: 120px;
    margin-top: -64px;
  }
  
#galery .grid {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Cambia a flex-wrap para envolver las tarjetas */
  justify-content: flex-start;
  gap: 5px; /* Espacio entre las tarjetas */
  margin-left: 0px;
}
  #galery .press-grid {
    top: 0px;
    position: relative;
    margin-left: 0px;
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */

  }
  .article-content {
    width: 100%;
  }
  .press-article {
    /* background-color: #f5f5f5; */
    margin-bottom: 20px; /* Espacio inferior entre artículos de prensa */
    text-align: left;
    width: 95%;
  }
  .press-article:hover {
    background: #cfcaca;
  }
  #galery .main__action {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 999; /* Asegura que el botón esté sobre otros elementos */
    animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
  }

  #galery .horizontal-line-2 {
    height: 2px;
    width: 45%;
    background-color: #019b21;
    position: relative;
    top: -3px;
    margin-left: 10px;
  }
  #galery .heading {
    position: relative;
    width: 100%;
    text-align: center;
    height: 100px;
  }

  #galery .heading h1 {
    font-size: 50px;
    line-height: 1.2;
  }

  .card {
    width: 275px;
    margin-left: -12px;
    margin-bottom: 20px;
  }
  .studio-info {
    flex-direction: column; /* Cambia la dirección a columna cuando la pantalla es estrecha */
  }

  .studio-description
 {
  max-width: 650px;
    flex: 100%; /* Ambos divs toman todo el ancho disponible */
    margin-right: 0; /* Elimina el margen entre los divs */
  }

  .studio-images {
    flex-direction: column; /* Cambia la dirección de las imágenes a columna */
  }

  .studio-image {
    width: 275px;
    height: 60%;
    flex-basis: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 10px; /* Ajusta el espacio entre las imágenes */
  }
  #galery .heading {
    text-align: left; /* Alinea el encabezado a la izquierda */
  }

  #galery .grid1 {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }

  #galery .cont1 {
    margin-left: -5px;
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    grid-gap: 0px; /* Reduce el espacio entre elementos */
  }

  #galery .item {
    width: 100%;
    padding: 10px; /* Reduce el espacio de relleno de los elementos */
  }

  #galery .item h1 {
    font-size: 16px; /* Ajusta el tamaño de fuente del nombre en pantallas pequeñas */
    margin-bottom: 5px; /* Reduce el espacio inferior */
  }

  #galery .item p {
    font-size: 12px; /* Ajusta el tamaño de fuente de la descripción en pantallas pequeñas */
  }
  #galery .item3 {
    margin-bottom: 50px;
    margin-top: -50px;
    width: 100%;
    padding: 10px; /* Reduce el espacio de relleno de los elementos */
  }

  #galery .item3 h1 {
    font-size: 16px; /* Ajusta el tamaño de fuente del nombre en pantallas pequeñas */
    margin-bottom: 5px; /* Reduce el espacio inferior */
  }

  #galery .item3 p {
    font-size: 12px; /* Ajusta el tamaño de fuente de la descripción en pantallas pequeñas */
  }
  
}
