#galery {
  width: 100%;
  max-width: var(--max-width);
  overflow: hidden;
  padding: 110px;
  padding-bottom: 400px;
  background-color: #e0d9d9;
}
#galery .main__action {
  position: fixed;
  bottom: 20px;
  right: 50px;
  z-index: 999; /* Asegura que el botón esté sobre otros elementos */
  animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
}
/* ... Otros estilos ... */

/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}


#galery h1 {
  width: 105%;
}

#galery .heading {
  width: 100%;
  text-align: start;
}

#galery .heading h1 {
  font: 120px/1 Titling Gothic Skyline, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 900;
  color: rgb(255, 252, 252);
}

#galery .horizontal-line-2 {
  margin-top: 20px;
  height: 2px;
  width: 15%;
  background-color: #019b21;
  margin-left: 20px;
}

#galery .grid {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Cambia a flex-wrap para envolver las tarjetas */
  justify-content: flex-start;
  gap: 30px; /* Espacio entre las tarjetas */
}


.card {
  margin-left: 50px;
  background-color: #f5f5f5;
  background-image: linear-gradient(43deg, #20a15a 0%, #5ac850 46%, #70ffbc 100%);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; 
  border-radius: 16px;
  width: 300px; /* Ancho fijo de las tarjetas */
  padding:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s;
}

.card h2 {
  font-size: 24px;
  margin: 10px 0;
}

.card p {
  font-size: 16px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #galery {
    padding: 40px;
    margin-left: 0;
    padding-bottom: 100px;
  }
  
#galery .main__action {
  position: fixed;
  bottom: 20px;
  right: 0px;
  z-index: 999; /* Asegura que el botón esté sobre otros elementos */
  animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
}
  
#galery  .horizontal-line-2 {
  height: 2px;
  width: 45%;
  background-color: #019b21;
  position: relative;
  top: -10px;
  margin-left: 10px;
}
  #galery .heading {
    position: relative;
    top: 40px;
    width: 100%;
    text-align: center;
    height: 100px;
  }

  #galery .heading h1 {
    font-size: 50px;
    line-height: 1.2;
  }

  .card {
    margin-left: 0px;
    width: 100%; /* Ancho completo en pantallas pequeñas */
    margin-bottom: 20px;
  }
}
