#galery {
  width: 100%;
  max-width: var(--max-width);
  overflow: hidden;
  padding: 110px;
  padding-bottom: 400px;
  background-color: #e0d9d9;
}

#galery .main__action {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 0; /* Asegura que el botón esté sobre otros elementos */
  animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
}
/* ... Otros estilos ... */

/* Animate scroll icon */
@keyframes scroll-down {
  0%,
  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

#galery h1 {
  width: 105%;
}

#galery .heading {
  width: 100%;
  text-align: start;
}

#galery .heading h1 {
  font-size: 120px;
  font-weight: 900;
  color: rgb(255, 252, 252);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}
.h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.asd {
  font-size: 25px;
  font-weight: 900;
  color: rgb(255, 252, 252);
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#galery .horizontal-line-2 {
  margin-top: 20px;
  height: 2px;
  width: 15%;
  background-color: #019b21;
  margin-left: 20px;
}

#galery .grid {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap; /* Cambia a flex-wrap para envolver las tarjetas */
  justify-content: flex-start;
  gap: 5px; /* Espacio entre las tarjetas */
  margin-left: 20px;
}

.card {
  margin-left: -18px;
  /* background-color: #f5f5f5; */
  /* background-image: linear-gradient(43deg, #20a15a 0%, #5ac850 46%, #70ffbc 100%); */
  /* box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px; */
  border-radius: 16px;
  width: 300px; /* Ancho fijo de las tarjetas */
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
  align-items: flex-start; /* Align items to the left */
  text-align: left; /* Align text to the left */
}

.card h3 {
  margin-top: 10px;
}
.card span {
  font-size: 12px;
  margin-bottom: 0px;
}

/* Estilo para la sección de información del estudio */
/* Estilo para la sección de información del estudio */
.studio-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre la descripción del estudio y las imágenes */
}

.studio-description {
  flex: 1;
  padding: 20px; /* Ajusta el espaciado interior según tus preferencias */
  text-align: left;
}

.studio-description h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.studio-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centra las imágenes horizontalmente */
  gap: 10px; /* Espacio entre las imágenes del estudio */
}

.studio-image {
  flex-basis: calc(50% - 5px); /* 50% de ancho y espacio de 5px entre ellas */
  width: 200px; /* Tamaño más grande para las imágenes */
  height: 250px; /* Tamaño más grande para las imágenes */
  /* Añade estilos para las imágenes del estudio aquí */
}
/* Estilos para la sección de PRENSA */


.press-article {
  margin-left: 20px;
  flex-basis: calc(33.33% - 20px); /* Ancho de cada artículo de prensa (1/3) */
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  margin-bottom: 20px; /* Espacio inferior entre artículos de prensa */
  text-align: left;
  width: 100%;
}
#galery .press-grid {
  display: grid;
  grid-template-columns: repeat(3,2fr); /* 2 columnas iguales */
  grid-gap: 20px; /* Espacio entre cada artículo */
  margin-top: 40px; /* Espacio superior para la sección de prensa */
}
.press-article h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.press-article p {
  font-size: 14px;
  margin-bottom: 10px;
}

.press-link {
  color: #019b21;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

#galery .grid1 {
  width: 100%;
  display: grid;
  grid-gap: 20px; /* Espacio entre cada fila */
}

#galery .cont1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  grid-gap: 0px; /* Espacio entre las columnas */
}

#galery .item {
  padding: 5px;
  margin-right: 20px;
  margin-top: 20px;
}

#galery .item h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#galery .item p {
  font-size: 14px;
}

#galery .link-destacado {
  color: #fcf9f9;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  #galery {
    padding: 40px;
    margin-left: -35px;
    padding-bottom: 100px;
    padding-top: 85px;
  }
  #galery .press-grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }
  .press-article {
    flex-basis: calc(
      33.33% - 20px
    ); /* Ancho de cada artículo de prensa (1/3) */
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 20px; /* Espacio inferior entre artículos de prensa */
    text-align: left;
    width: 100%;
  }
  #galery .main__action {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 999; /* Asegura que el botón esté sobre otros elementos */
    animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
  }

  #galery .horizontal-line-2 {
    height: 2px;
    width: 45%;
    background-color: #019b21;
    position: relative;
    top: -10px;
    margin-left: 10px;
  }
  #galery .heading {
    position: relative;
    width: 100%;
    text-align: center;
    height: 100px;
  }

  #galery .heading h1 {
    font-size: 50px;
    line-height: 1.2;
  }

  .card {
    width: 275px;
    margin-left: -12px;
    margin-bottom: 20px;
  }
  .studio-info {
    margin-left: -13px;
    flex-direction: column; /* Cambia la dirección de la fila a columna */
    align-items: flex-start; /* Alinea los elementos al principio */
  }

  .studio-description {
    flex: none; /* Evita que la descripción ocupe todo el ancho */
    margin-bottom: 10px; /* Ajusta el espacio entre la descripción y las imágenes */
  }

  .studio-images {
    margin-left: 15px;
    flex-direction: column; /* Cambia la dirección de las imágenes a columna */
  }

  .studio-image {
    width: 275px;
    flex-basis: 100%; /* Ocupa todo el ancho disponible */
    margin-bottom: 10px; /* Ajusta el espacio entre las imágenes */
  }
  #galery .heading {
    text-align: left; /* Alinea el encabezado a la izquierda */
  }

  #galery .grid1 {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }

  #galery .cont1 {
    margin-left: -5px;
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    grid-gap: 0px; /* Reduce el espacio entre elementos */
  }

  #galery .item {
    width: 100%;
    padding: 10px; /* Reduce el espacio de relleno de los elementos */
  }

  #galery .item h1 {
    font-size: 16px; /* Ajusta el tamaño de fuente del nombre en pantallas pequeñas */
    margin-bottom: 5px; /* Reduce el espacio inferior */
  }

  #galery .item p {
    font-size: 12px; /* Ajusta el tamaño de fuente de la descripción en pantallas pequeñas */
  }
}
