#testimonios {
    width: 90%;
    max-width: var(--max-width);
    margin: var(--margin);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:25px;
}

#testimonios .img-container{
    flex: 1;
    min-width: 300px;
    position: relative;
    top: 130px;
    padding-bottom: 40px;
}

#testimonios .slider{
    position: relative;
    top: 80px;
    flex: 1;
    min-width: 400px;
}

#testimonios .card{
    background: #f3e4b3;
    width: 100%;
    padding: 10px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 20px;
    box-shadow: 2px 20px 30px var(--shadow-color);
    border-radius: 2%;
    margin-bottom: 10px;
}
#testimonios .img-container img:hover {
    transform: scale(1.08);
}
#testimonios .redes {
    display: inline-block;
    padding-left: 55px; /* Hacer que los elementos <a> sean en línea */
    margin-right: 35px; /* Espacio entre elementos <a> */
    font-size: 25px;
    top:0px;
    position: relative;
    color: rgb(32, 30, 30);
  }
  #testimonios      .redes:hover {
    color: rgb(8, 243, 27);
  }
#testimonios .img-container img{
    transition: all linear 0.5s;
}

#testimonios .avatar {
    width: 100px;
    min-width: 100px;
    height: 100px;
    border-radius: 30%;
    overflow: hidden;
    background:var(--secondary);
}

#testimonios .text {
    flex: 1;
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    min-width: 200px;
    align-items: self-start;
    justify-content:first baseline;
}
#testimonios .text i{
    
    color: black;
    font-size: 1.2rem;
   
}

#testimonios .text p{
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    color: rgb(8, 8, 8);
    font-size: 0.9rem;
    letter-spacing: 1px;
    margin:rgb(16, 17, 16) 0 15px 0;
}
#testimonios .text strong{
    font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", "sans serif";
    color: #363636;
    font-weight: 700;
    letter-spacing: 1px;

}
@media (max-width: 450px){
    #testimonios .slider,
    #testimonios .img-container{
        min-width: 200px;
        
    }
    
#testimonios .redes {
    display: inline-block;
    padding-left: 35px; /* Hacer que los elementos <a> sean en línea */
    margin-right: 15px; /* Espacio entre elementos <a> */
    font-size: 15px;
    top:0px;
    position: relative;
    color: rgb(32, 30, 30);
  }
  #testimonios      .redes:hover {
    color: rgb(8, 243, 27);
  }
 }   