#testimonios {
  width: 100%;
  max-width: var(--max-width);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  padding-left: 110px;
  background-color: #ffffff;
  padding-bottom: 100px;
}

#testimonios .main__action {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 999; /* Asegura que el botón esté sobre otros elementos */
  animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
}
/* ... Otros estilos ... */

/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}
#testimonios h1 {
  width: 105%;
}

#testimonios .heading {
  width: 100%;
  text-align: start;
}
#testimonios .heading h1 {
  margin-top: 110px;
  font-size: 120px;
  font-weight: 900;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}



.horizontal-line-2 {
  margin-top: 10px;
  height: 2px;
  width: 20%;
  background-color: #019b21;
  margin-left: 20px;
  margin-bottom: 10px;
}

#testimonios .img-container {
  flex: 1;
  min-width: 200px;
  position: relative;
}

#testimonios .slider {
  position: relative;
  top: -90px;
  flex: 1;
  min-width: 400px;
  padding-left: 25px;
  margin-right: 20px;
}


#testimonios .img-container img:hover {
  transform: scale(1.08);
}
#testimonios .redes1 {
  display: inline-block;
  padding-left: 45px; /* Hacer que los elementos <a> sean en línea */
  margin-right: 35px; /* Espacio entre elementos <a> */
  font-size: 25px;
  top: -0.2px;
  position: relative;
  color: rgb(32, 30, 30);
}
#testimonios .svg i {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: xxx-large;
  color: #019b21;
  transition: transform 0.3s ease;
}
#testimonios .svg:hover i {
  transform: rotate(90deg);
}
#testimonios .redes:hover {
  color: #019b21;
}
#testimonios .img-container img {
  margin-top: 20px;
  transition: all linear 0.5s;
}

#testimonios .avatar {
  width: 100px;
  min-width: 100px;
  height: 30px;
  border-radius: 30%;
  overflow: hidden;
}

#testimonios .text {
  position: relative;
  top:20px;
  margin-top: 10px;
  flex: 1;
  width: 500px;
  align-items: self-start;
  justify-content: first baseline;
}
#testimonios .text i {
  color: black;
  font-size: 1.2rem;
}

#testimonios .text p {
  color: rgb(8, 8, 8);
  font-size: 0.9rem;
  letter-spacing: 1px;
}
#testimonios .text strong {
  color: #363636;
  font-weight: 700;
  letter-spacing: 1px;
}

  #testimonios .map {
    width: 100%;
    margin-left: 3px;
    height: 500px;
  }
@media (max-width: 888px) {
  #testimonios .text {
    position: relative;
    left: -50px;
    top: 80px;
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    margin-left: -30px; /* Añade un margen izquierdo para separar el icono del texto */
    font-size: 12px;
  }

  #testimonios .text a {
    margin-right: 20px; /* Añade un margen derecho entre el icono y el texto */
    
  }

  #testimonios .main__action {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 999; /* Asegura que el botón esté sobre otros elementos */
    animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
  }
  #testimonios {
    align-items: start; /* Centrar elementos en pantallas más pequeñas */
    padding-left: 70px; /* Reducir el espacio a la izquierda en pantallas más pequeñas */
  }
  #testimonios .slider{
    min-width: 200px;
    margin-left:-32px;
    margin-right: 66px;
    margin-top: 40px;
  }
  #testimonios .img-container {
    margin-top: 60px;
    min-width: 320px;
    margin-left: 10px;
    margin-right: 66px;
    flex-direction: column; 
  }

  #testimonios .map {
    width: 95%;
    margin-left: 3px;
    height: 400px;
  }

  #testimonios .redes {
    display: inline-block;
    padding-left: 0px; /* Hacer que los elementos <a> sean en línea */
    margin-right: 3px; /* Espacio entre elementos <a> */
    font-size: 20px;
    top: 0px;
    position: relative;
    color: rgb(43, 40, 40);
  }
  #testimonios .redes:hover {
    color: #019b21;
  }
  
  #testimonios  .horizontal-line-2 {
    height: 2px;
    width: 48%;
    background-color: #019b21;
    margin-left: -50px;
    position: relative;
    top:-5px;
  }
  #testimonios .heading {
    
    width: 100%;
    text-align: start;
    height: 100px;
    margin-left: 3px;
    position: relative;
    top: -25px;
    margin-left: 30px;
  }

  #testimonios .heading h1 {
    font-size: 50px;
    line-height: 1.2;
    margin-left: -60px;

  }

  #testimonios .img-container  h1 { 
    width: 92%;
   
  }
}
