#galery {
  width: 100%;
  max-width: var(--max-width);
  margin: var(--margin);
  overflow: hidden;
}

/* Rejilla */
#galery .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); /* Cada columna tiene un mínimo de 420px */
  grid-auto-flow: dense;
  grid-gap: 19px; /* Espacio entre tarjetas */
  padding: 0;
  margin-left: 18px;
  padding-right: 36px;
  padding-top: 55px;
}

/* Estilo de la tarjeta */
#galery .card {
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  user-select: none;
  cursor: pointer;
  transition: all linear 0.5s;
}

/* Efecto Hover en las tarjetas */
#galery .card img {
  transition: all linear 0.5s;
}

#galery .card:hover img {
  transform: scale(1.08);
}

/* Estilo de la superposición de la tarjeta */
#galery .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(231, 225, 225, 0.6) 0%);
}

/* Tarjeta destacada que ocupa dos columnas en ancho */
#galery .card-0 {
  grid-column: span 2; /* Ocupa dos columnas */
  grid-row-start: auto;
  grid-row-end: span 1; /* Ocupa una fila */
  height: 300px; /* Altura específica para esta tarjeta */
}

/* Tarjeta que ocupa dos columnas en alto (dos filas) */
#galery .card-1 {
  grid-row-start: auto;
  height: 370px; /* Altura específica para esta tarjeta */
}

#galery .card-2 {
  margin-top: -70px;
  grid-row-start: auto;
  grid-row-end: span 1; /* Ocupa una fila */
  height: 235px; /* Altura específica para esta tarjeta */
}

#galery .card-3 {
  margin-top: -70px;
  grid-row-start: auto;
  grid-row-end: span 1; /* Ocupa una fila */
  height: 235px; /* Altura específica para esta tarjeta */
}

#galery .card-4 {
  grid-row-start: auto;
  grid-row-end: span 1; /* Ocupa una fila */
  height: 165px; /* Altura específica para esta tarjeta */
}

/* Grupo de texto */
#galery .group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #fff;
}

#galery .group .text strong {
  display: block;
  font-size: 1.9rem;
  font-weight: 900;
  color: #f8f2f2;
}

#galery .group .text span {
  font-size: 0.8rem;
  color: #f8f4f4;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
}
@media (max-width: 1369px) {
  
  #galery .card-0 {
    margin-bottom: 70px; /* Reducir la altura para una sola fila */
  }
}
@media (min-width: 1237px) and (max-width: 1375px) {
  #galery .grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Ajuste de tamaño mínimo y máxima fracción */
  }

  #galery .card-0 {
margin-bottom: 70px;
  }
  #galery .card-4 {
margin-top: 0px;
  }
}
/* Estilo de la tarjeta para móviles */
@media (max-width: 911px) {
  #galery {
    padding-bottom: 12px;
  }

  #galery .card-0 {
    margin-bottom: 1px;
  }
  #galery .card-1 {
    margin-bottom:70px;
  }
  #galery .card-2 {
    margin-bottom:70px;
  }
  #galery .card {
    grid-column: span 1; /* Cada tarjeta ocupa una columna completa en móviles */
    grid-row-start: auto;
    grid-row-end: span 1; /* Ocupa una fila */
  }

  #galery .group .text strong {
    font-size: 2.5rem;
    color: #f7eeee;
  }
}