:root {
  --max-width: 1400px;
  --margin: 0 auto;
  --gap: 19px;
  --transition-speed: 0.5s;
  --font-color: #f8f2f2;
  --font-color-secondary: #f8f4f4;
  --card-hover-scale: 1.08;
}

#galery {
  width: 100%;
  max-width: var(--max-width);
  margin: var(--margin);
  overflow: hidden;
  padding-bottom: 12px; /* Añadir un padding bottom global */
}

#galery .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(430px, 1fr)); /* Cada columna tiene un mínimo de 430px */
  grid-auto-flow: dense;
  gap: var(--gap);
  padding: 41px 20px 0px 20px; /* Top, Right, Bottom, Left */
}

/* Estilo de la tarjeta */
#galery .card {
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
  cursor: pointer;
  transition: transform var(--transition-speed);
}
#galery .card img {
  transition: transform var(--transition-speed);
}

#galery .card:hover img {
  transform: scale(var(--card-hover-scale));
}
/* Estilo de la superposición de la tarjeta */
#galery .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(231, 225, 225, 0.6) 0%);
}


/* Tarjeta destacada que ocupa dos columnas en ancho */
#galery .card-0 {
  grid-column: span 2; /* Ocupa dos columnas */
  grid-row-start: auto;
  grid-row-end: span 1; /* Ocupa una fila */
  height: 300px; /* Altura específica para esta tarjeta */
}

/* Tarjeta que ocupa dos columnas en alto (dos filas) */
#galery .card-1 {
  grid-row-start: auto;
  height: 370px; /* Altura específica para esta tarjeta */
}

#galery .card-2 {
  margin-top: -70px;
  grid-row-start: auto;
  grid-row-end: span 1; /* Ocupa una fila */
  height: 235px; /* Altura específica para esta tarjeta */
}

#galery .card-2, 
#galery .card-3  {
  margin-top: -70px;
  grid-row-start: auto;
  grid-row-end: span 1; /* Ocupa una fila */
  height: 235px; /* Altura específica para esta tarjeta */
}
#galery .card-4 {
  height: 165px;
}

/* Grupo de texto */
#galery .group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: var(--font-color);
}


#galery .group .text strong {
  display: block;
  font-size: 1.9rem;
  font-weight: 900;
  color: var(--font-color);
}
#galery .group .text span {
  font-size: 0.8rem;
  color: var(--font-color-secondary);
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: capitalize;
}
@media (max-width: 1369px) {
  
  #galery .card-0 {
    margin-bottom: 70px; /* Reducir la altura para una sola fila */
  }
}
@media (min-width: 1237px) and (max-width: 1375px) {
  #galery .grid {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); /* Ajuste de tamaño mínimo y máxima fracción */
  }

  #galery .card-0 {
margin-bottom: 70px;
  }
  #galery .card-4 {
margin-top: 0px;
  }
}
/* Estilo de la tarjeta para móviles */
@media (max-width: 911px) {
  #galery {
    padding: 0; /* Eliminar padding en pantallas pequeñas */
    margin: 0; /* Eliminar el margen global en pantallas pequeñas */
  }

  #galery .grid {
    padding: 0; /* Eliminar padding en la cuadrícula */
    grid-template-columns: 1fr; /* Cada tarjeta ocupa una columna completa */
    gap: var(--gap); /* Mantener el espacio entre las tarjetas */
  }

  #galery .card {
    grid-column: span 1; /* Cada tarjeta ocupa una columna completa */
    grid-row-start: auto;
    grid-row-end: span 1; /* Ocupa una fila */
    height: 350px; /* Establecer la misma altura para todas las tarjetas */
  }

  /* Ajustar márgenes específicos para las tarjetas en pantallas pequeñas */
  #galery .card-1, 
  #galery .card-2, 
  #galery .card-3, 
  #galery .card-4 {
    margin: 0 0 0px 0; /* Eliminar márgenes laterales y establecer un margen inferior */
  }
  #galery .card-0 {
    margin: 50px 0 0 0; /* Eliminar márgenes laterales y establecer un margen inferior */
  }

  /* Ajuste adicional para el texto */
  #galery .group .text strong {
    font-size: 2.5rem;
    color: #f7eeee;
  }
}