#testimonios {
  width: 90%;
  max-width: var(--max-width);
  margin: var(--margin);
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 110px;
  margin-left: 75px;
}
#testimonios  h2 { 
  width: 105%;
 
}
#testimonios  .heading { 
  width: 30px;
  background-color: #019b21;
}
.horizontal-line {
  position: relative;
  top: -25px;
  left: 0px;
  height: 2px;
  width: 100%; /* La línea ocupará todo el ancho de la pantalla */
  background-color: #019b21; /* Color verde */
}

#testimonios .letter-card {
  display: flex;
  align-items: center;
  width: 100%; /* Cambia el ancho a 100% para ocupar todo el ancho disponible */
  margin-bottom: 20px; /* Ajusta el margen inferior según tu preferencia */
}

#testimonios .letter {
  font-size: 2rem; /* Ajusta el tamaño de la letra según tu preferencia */
  font-weight: bold;
  margin-right: 20px; /* Ajusta el margen derecho según tu preferencia */
}

#testimonios .cards-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
  width: 100%; /* Cambia el ancho a 100% para ocupar todo el ancho disponible */
  margin-bottom: 20px; /* Ajusta el margen inferior según tu preferencia */
}

#testimonios .card {
  width: 26.8%;
  padding-left:10px; /* Ajusta el relleno según tu preferencia */
  border: 3px solid black;
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 0.2px 0.2px 0.2px var(--shadow-color);
  height: 200px;
}
/* 
#testimonios .card:hover {
  transform: scale(1.08);

} */

#testimonios .img-container{
  flex: 1;
  min-width: 200px;
  position: relative;
  top: 130px;
  padding-bottom: 80px;
}
#testimonios .avatar {
  width:25.5%; /* Ajusta el tamaño del avatar según tu preferencia */
  height: 180px; /* Ajusta el tamaño del avatar según tu preferencia */
  margin-bottom: 100px;
  }

#testimonios .text {
  flex: 1;
  width: 100px;
}

#testimonios .text i {
  color: var(--primary);
  font-size: 1.3rem;
}

#testimonios .text p {
  color: #696;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin: 5px 0 15px 0;
}

#testimonios .text strong {
  color: #363636;
  font-weight: 700;
  letter-spacing: 1px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 540px) {
  #testimonios {
    margin-left: 20px;
  }
  #testimonios .letter-card {
    flex-direction: column;
    align-items: flex-start;
  }
  #testimonios .avatar {
    width: 300px; /* Ajusta el tamaño del avatar según tu preferencia */
    height: 180px; /* Ajusta el tamaño del avatar según tu preferencia */
    }
  #testimonios .text {
    
    }

  #testimonios .letter {
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 1.5rem; /* Ajusta el tamaño de la letra para dispositivos móviles */
  }

  #testimonios .cards-container {
    margin-bottom: 20px; /* Ajusta el margen inferior para dispositivos móviles */
  }
  #testimonios  h2 { 
    width: 105%;
   
  }
  
  #testimonios .card {
    width: 106%;
    padding-left:10px; /* Ajusta el relleno según tu preferencia */
    border: 3px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0.2px 0.2px 0.2px var(--shadow-color);
    height: 200px;
  }
  #testimonios  .heading { 
    width: 30px;
    background-color: #019b21;
  }
  .horizontal-line {
    height: 2px;
    position: relative;
    top: 112px;
    left:-50px;
    width: 75%; /* La línea ocupará todo el ancho de la pantalla */
    background-color: #019b21; /* Color verde */
  }
}
