#testimonios {
  padding-top: 80px;
  display: flex;
  background-color: #e0d9d9; 
  justify-content: space-between; /* Distribuye los elementos al inicio y al final del contenedor */
  align-items: flex-start; /* Alinea los elementos en la parte superior del contenedor */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
  padding-bottom: 100px;
}
.slider {
  margin-left: 110px;
  width: 35%; /* Ajusta el ancho según tus necesidades */
  padding: 10px; /* Agrega un poco de espacio interno */
}

.img-container {
  margin-right: 30px;
  margin-top: -20px;
  width: 50%; /* Ajusta el ancho según tus necesidades */
  padding: 10px; /* Agrega un poco de espacio interno */
}

@media (max-width: 768px) {
  /* Estilos para pantallas pequeñas */
  #testimonios {
    flex-direction: column; /* Cambia la dirección del flexbox a columna en pantallas pequeñas */
  }

  .slider{
    margin-left: 40px;
    width: 80%;
    padding-bottom: 50px;
  }
  .img-container {
    margin-left: 28px;
    width:87%;
  }
  .banner {
    height: 100%;
  }
}
