#galery {
  width: 100%;
  max-width: var(--max-width);
  margin: var(--margin);
  overflow: hidden;
  padding: 110px;
  margin-left: -35px;
  padding-bottom: 400px;
}
#galery  h2 { 
  width: 105%;
 
}
#galery  .heading { 
  width: 30px;
  background-color: #019b21;
}
.horizontal-line {
  height: 2px;
  width: 100%; /* La línea ocupará todo el ancho de la pantalla */
  background-color: #019b21; /* Color verde */

}




/* Initially hide the .text within .box */
#galery .box .text,
.group {
  display: block;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Show the .text within .box on card hover */
#galery .card:hover .box .text,
.group {
  opacity: 1;
  transform: translateX(0);
}
#galery .grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 280px;
  grid-auto-flow: dense;
  grid-gap: 3px;
  margin: 40px 0;
}

#galery .card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
  cursor: pointer;
  margin-right: 20px;
  padding: 30px;
}

#galery .card img {
  transition: all linear 0.5s;
}

#galery .card:hover img {
  transform: scale(1.1);
}

#galery .card-1 {
  grid-row: 1 / span 2;
}
#galery .card-3 {
  grid-column: span 2;
}

#galery .box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  padding: 15px;
  /*   background: linear-gradient(180deg,rgba(170, 164, 164, 0.6) 0%,rgba(54, 54, 54, 0.6) 100%);} */
}
#galery .card:hover .box {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 5) 0%,
    rgba(54, 54, 54, 0.6) 100%
  );
}
#galery .cont h1 {
    width: 300px;
  text-align: center; /* Centrar el texto horizontalmente */
  background-color: #019b21; /* Fondo verde */
  border-radius: 10px 0 10px 0; /* Redondear las dos esquinas superiores */
  padding:5px; /* Agregar espacio alrededor del texto */
  margin-left: 40px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
#galery .cont p {
    width: 300px; /* Define el ancho deseado para el elemento <p> */
    margin-left: 40px; /* Opcional: ajusta el margen izquierdo según tu diseño */
  }


@media (max-width: 540px) {
  #galery {
    margin-left: 0px;
  }
  #galery .grid {
    grid-template-columns: 1fr; /* Hacer que las tarjetas se apilen verticalmente en pantallas más pequeñas */
    grid-auto-rows: auto; /* Ajustar la altura automáticamente */
    grid-gap: 20px; /* Agregar espacio entre las tarjetas en pantallas más pequeñas */
  }

  #galery .card {
    width: 100%; /* Asegurar que las tarjetas ocupen todo el ancho de su contenedor */
    height: 200px; /* Ajustar la altura automáticamente */
  }
  #galery .cont {
    width: 310px;
    margin-left: -80px;
  }
  #galery .heading {
    width: 300px;
    margin-left: -80px;
  }
  #galery .cont h1 {
    width: 300px;
  text-align: center; /* Centrar el texto horizontalmente */
  background-color: #019b21; /* Fondo verde */
  border-radius: 10px 0 10px 0; /* Redondear las dos esquinas superiores */
  padding:5px; /* Agregar espacio alrededor del texto */
  margin-left: 8px;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}
#galery .cont p {
  width: 300px; /* Define el ancho deseado para el elemento <p> */
  margin-left: 15px; /* Opcional: ajusta el margen izquierdo según tu diseño */
}
#galery  h2 { 
  width: 105%;
 
}
#galery  .heading { 
  width: 30px;
  background-color: #019b21;
}
.horizontal-line {
  height: 2px;
  position: relative;
  top: 0px;
  left: -80px;
  width: 180%; /* La línea ocupará todo el ancho de la pantalla */
  background-color: #019b21; /* Color verde */
}
}
