:root {
  --max-width: 1400px;
  --gap: 20px;
  --main-color: #019b21;
  --font-color: #000;
  --heading-font-size-large: 100px;
  --heading-font-size-small: 50px;
  --item-padding: 20px;
}

#galery {
  width: 100%;
  max-width: var(--max-width);
  overflow: hidden;
  padding: 110px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

/* Botón de acción principal */
#galery .main__action {
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 999;
  animation: scroll-down 1.5s infinite;
}

/* Animación para el icono de desplazamiento */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  35% {
    transform: translateY(1rem);
    opacity: 0;
  }
  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

.btn {
  color: var(--main-color);
}

#galery h1 {
  width: 105%;
}

#galery .heading {
  width: 100%;
  text-align: start;
}

#galery .heading h1 {
  font-size: var(--heading-font-size-large);
  font-weight: 900;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

#galery .horizontal-line {
  margin-top: 70px;
  height: 2px;
  width: 20%;
  background-color: var(--main-color);
  margin-left: 20px;
}

#galery .horizontal-line-2 {
  margin-bottom: 20px;
  height: 2px;
  width: 22%;
  background-color: var(--main-color);
  position: relative;
  top: 10px;
  margin-left: 30px;
}

#galery .grid {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: var(--gap);
}

#galery .cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Distribuye uniformemente 3 columnas */
  grid-gap: 40px;
}

#galery .item {
  padding: var(--item-padding);
}

#galery .item h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#galery .item h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

#galery .item p {
  font-size: 16px;
}

#galery .link-destacado {
  color: var(--main-color);
  text-decoration: none;
  font-weight: bold;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  #galery {
    padding: 40px;
    margin-left: 0;
    padding-top: 84px;
    padding-bottom: 100px;
  }
  
  #galery .main__action {
    right: 20px;
    bottom: 20px;
  }

  #galery .horizontal-line-2 {
    width: 48%;
    margin-left: 15px;
    margin-top: -4px;
  }

  #galery .heading {
    height: 100px;
    margin-top: 25px;
  }

  #galery .heading h1 {
    font-size: var(--heading-font-size-small);
    line-height: 1.2;
  }

  #galery .grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    gap: var(--gap); /* Mantener el espacio entre las tarjetas */
  }

  #galery .cont {
    margin-top: -20px;
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    grid-gap: 20px; /* Ajusta el espacio entre elementos */
    margin-left: 0;
  }

  #galery .item {
    padding: 10px; /* Reduce el espacio de relleno de los elementos */
  }

  #galery .item h1, 
  #galery .item h2 {
    font-size: 24px; /* Ajusta el tamaño de fuente del título en pantallas pequeñas */
    margin-bottom: 5px; /* Reduce el espacio inferior */
  }

  #galery .item p {
    font-size: 14px; /* Ajusta el tamaño de fuente de la descripción en pantallas pequeñas */
  }
}
