#galery {
  
  width: 100%;
  max-width: var(--max-width);
  overflow: hidden;
  padding: 110px;
  padding-bottom: 400px;
  background-color: #e0d9d9;
}/* Estilos para el botón de scroll */

#galery .main__action {
  position: fixed;
  bottom: 20px;
  right: 70px;
  z-index: 999; /* Asegura que el botón esté sobre otros elementos */
  animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
}
/* ... Otros estilos ... */

/* Animate scroll icon */
@keyframes scroll-down {
  0%, 100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  35% {
    transform: translateY(1rem);
    opacity: 0;
  }

  70% {
    transform: translateY(-1rem);
    opacity: 0;
  }
}

#galery h1 {
  width: 105%;
}

#galery .heading {
  width: 100%; /* Cambia el ancho a 100% para ocupar todo el ancho en pantallas pequeñas */
  text-align: start; /* Centra el texto en todas las pantallas */
}

#galery .heading h1 {
  font: 120px/1 'Titling Gothic Skyline', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 900;
  color: rgb(255, 252, 252);
}


#galery .horizontal-line {
  margin-top: 20px;
  height: 2px;
  width: 20%;
  background-color: #019b21;
  margin-left: 20px;
}
#galery .horizontal-line-2 {
  margin-bottom: 20px;
  height: 2px;
  width: 50%;
  background-color: #019b21;
}

#galery .grid {
  width: 100%;
  display: grid;
  grid-gap: 20px; /* Espacio entre cada fila */
}

#galery .cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  grid-gap: 20px; /* Espacio entre las columnas */
}

#galery .item {
  padding: 20px;
}

#galery .item h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#galery .item p {
  font-size: 14px;
}

#galery .link-destacado {
  color: #019b21;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  #galery {
    padding: 40px;
    margin-left: 0;
    padding-bottom: 100px;
    padding-top: 84px;
  }
  
  #galery .main__action {
    position: fixed;
    bottom: 20px;
    right: 0px;
    z-index: 999; /* Asegura que el botón esté sobre otros elementos */
    animation: scroll-down 1.5s infinite; /* Agrega la animación aquí */
  }

  #galery  .horizontal-line-2 {
    height: 2px;
    width: 48%;
    background-color: #019b21;
    margin-left: 0px;
    position: relative;
    margin-top: -40px;
  }
  #galery .heading {
    
    width: 100%;
    text-align: start;
    height: 100px;
    position: relative;

  }

  #galery .heading h1 {
    font-size: 50px;
    line-height: 1.2;

  }

  #galery .grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }

  #galery .cont {
    margin-left: -5px;
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    grid-gap: 10px; /* Reduce el espacio entre elementos */
  }

  #galery .item {
    padding: 10px; /* Reduce el espacio de relleno de los elementos */
  }

  #galery .item h1 {
    font-size: 16px; /* Ajusta el tamaño de fuente del nombre en pantallas pequeñas */
    margin-bottom: 5px; /* Reduce el espacio inferior */
  }

  #galery .item p {
    font-size: 12px; /* Ajusta el tamaño de fuente de la descripción en pantallas pequeñas */
  }
}
