#galery {
  width: 100%;
  max-width: var(--max-width);
  overflow: hidden;
  padding: 110px;
  padding-bottom: 400px;
  background-color: #e0d9d9;
}

#galery h1 {
  width: 105%;
}

#galery .heading {
  width: 100%; /* Cambia el ancho a 100% para ocupar todo el ancho en pantallas pequeñas */
  text-align: start; /* Centra el texto en todas las pantallas */
}

#galery .heading h1 {
  font: 120px/1 'Titling Gothic Skyline', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 900;
  color: rgb(255, 252, 252);
}

.horizontal-line {
  height: 2px;
  width: 100%;
  background-color: #019b21;
}

.horizontal-line-2 {
  margin-bottom: 20px;
  height: 2px;
  width: 50%;
  background-color: #019b21;
}

#galery .grid {
  width: 100%;
  display: grid;
  grid-gap: 20px; /* Espacio entre cada fila */
}

#galery .cont {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas iguales */
  grid-gap: 20px; /* Espacio entre las columnas */
}

#galery .item {
  padding: 20px;
}

#galery .item h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

#galery .item p {
  font-size: 14px;
}

#galery .link-destacado {
  color: #019b21;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 768px) {
  #galery {
    padding: 40px; /* Reduce el espacio de relleno en pantallas pequeñas */
    margin-left: 0; /* Elimina el margen izquierdo */
    padding-bottom: 100px; /* Reduce el espacio inferior */
  }

  #galery .heading {
    position: relative;
    top: 40px;
    width: 100%; /* Haz que el título ocupe todo el ancho */
    text-align: center; /* Centra el título en pantallas pequeñas */
    height: 100px; /* Ajusta la altura automáticamente */
  }

  #galery .heading h1 {
    font-size: 50px; /* Ajusta el tamaño de fuente para el título en pantallas pequeñas */
    line-height: 1.2; /* Ajusta la altura de línea */
  }

  .horizontal-line {
    margin: 20px 0; /* Agrega espacio entre la línea y el contenido */
  }

  #galery .grid {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
  }

  #galery .cont {
    grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas pequeñas */
    grid-gap: 10px; /* Reduce el espacio entre elementos */
  }

  #galery .item {
    padding: 10px; /* Reduce el espacio de relleno de los elementos */
  }

  #galery .item h1 {
    font-size: 16px; /* Ajusta el tamaño de fuente del nombre en pantallas pequeñas */
    margin-bottom: 5px; /* Reduce el espacio inferior */
  }

  #galery .item p {
    font-size: 12px; /* Ajusta el tamaño de fuente de la descripción en pantallas pequeñas */
  }
}
